/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #665700;
  --ifm-color-primary-dark: #5c4e00;
  --ifm-color-primary-darker: #574a00;
  --ifm-color-primary-darkest: #473d00;
  --ifm-color-primary-light: #706000;
  --ifm-color-primary-lighter: #756400;
  --ifm-color-primary-lightest: #857100;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ffde22;
  --ifm-color-primary-dark: #ffda05;
  --ifm-color-primary-darker: #f6d100;
  --ifm-color-primary-darkest: #caac00;
  --ifm-color-primary-light: #ffe23f;
  --ifm-color-primary-lighter: #ffe44d;
  --ifm-color-primary-lightest: #ffeb79;
  --ifm-background-color: #1a1a0f;
}