<?xml version="1.0" encoding="utf-8"?>
<!--
     Designed and developed by MetichaHQ

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Required for Foreground Service on Android P (API 28) and above if AlarmReceiver starts one -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- To wake the device up -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name="com.meticha.triggerx.DefaultTriggerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:showWhenLocked="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:turnScreenOn="true"
            tools:targetApi="27" />

        <receiver
            android:name="com.meticha.triggerx.receivers.TriggerXAlarmReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.meticha.triggerx.ALARM_ACTION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.TriggerXForegroundService"
            android:exported="false"
            android:foregroundServiceType="shortService" />
    </application>

</manifest>